fastapi==0.103.2
python-multipart==0.0.6
uvicorn==0.23.2
pydantic==2.4.2

matplotlib==3.7.0
numpy==1.24.4

opencv-python==4.8.1.78

diffusers==0.21.4
accelerate==0.23.0
transformers==4.34.0
ftfy==6.1.1

ipython==8.13.0
ipykernel==6.25.2
ipywidgets==8.1.1

nltk
pymystem3
translate

huggingface_hub

# torch==2.1.0
# torchvision==0.16.0

torch==2.1.0+cu121
torchvision==0.16.0+cu121
-f https://download.pytorch.org/whl/torch_stable.html